@charset "utf-8";
body {
  margin: 0;
}
.container {
  border: 1px solid black;
  margin: 50px;
}

.box1 {
  width: 200px;
  height: 200px;
  background-color: coral;
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  /* transition-property: all;
  transition-duration: 200ms;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(.17,.67,1,-0.38); */
  transition: all 2s 0s cubic-bezier(.17,.67,1,-0.38);
  /* text-align: center;
    line-height: 200px; */
}
.box1:hover, .box1:focus{
    border-radius: 50%;
    background-color: skyblue;
    transform: translateX(300px);
}
.box-act{
    border-radius: 50%;
    background-color: skyblue;
    transform: translateX(300px);
}